
<h2 ng-show="error" class="weather__error">We have some problem with weather service. Please, try again later.</h2>
<section ng-repeat="city in weatherList" ng-hide="error" class="weather__city"><a href="#/city/{{weatherList[$index].id}}/{{$index}}" class="weather__city-link">
    <div>
      <h2 class="weather__city-name">{{weatherList[$index].name}}</h2><img ng-src="{{cityImages[$index]}}" class="weather__city-photo"/>
      <p class="weather__city-temp">{{weatherList[$index].main.temp | number:0}} ℃</p>
    </div></a></section>