h2.weather__error(ng-show="error") We have some problem with weather service. Please, try again later.
div.weather__current-city-wrap(ng-hide="error")
  h2.weather__current-city-name
    span {{currentCityWeather.city.name}}
  img.weather__current-city-photo(ng-src="{{cityImages[cityIndex]}}")
  div.weather__current-city
    section.weather__current-city-day-weather(ng-repeat="day in currentCityWeather.list")
      div
        p.weather__current-city-temp
          span When: {{day.dt * 1000 | date:'EEEE dd/MM'}}
        p.weather__current-city-temp
          span Day: {{day.temp.day | number:0}} ℃
        p.weather__current-city-temp
          span Night: {{day.temp.night | number:0}} ℃
        p.weather__current-city-temp
          span Weather: {{day.weather[0].main}}
div#svg-wrap