h2.weather__error(ng-show="error") We have some problem with weather service. Please, try again later.
section.weather__city(ng-repeat="city in weatherList" ng-hide="error")
  a.weather__city-link(href="#/city/{{weatherList[$index].id}}/{{$index}}")
    div
      h2.weather__city-name {{weatherList[$index].name}}
      img.weather__city-photo(ng-src="{{cityImages[$index]}}")
      p.weather__city-temp {{weatherList[$index].main.temp | number:0}} ℃
