<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="theme-color" content="#000")
  title Weather in cities I've been
  link(rel="stylesheet" href="css/style.css")
  script(src="js/shared/angular.min.js")
  script(src="js/shared/angular-route.min.js")
body(ng-app="Weather" class="ng-cloak")
  header.weather__header
    h1.weather__heading Weather in cities I've been
  main.weather__wrap(ng-view)

  script(src="js/shared/d3.min.js")
  script(src="js/app.js")
  script(src="js/controllers/WeatherHomeController.js")
  script(src="js/controllers/WeatherCityController.js")
  script(src="js/services/weather.js")
  script(src="js/services/weatherFiveDays.js")