/* normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
[ng-cloak],
.ng-cloak {
  display: none !important;
}
* {
  box-sizing: border-box;
}
body {
  padding: 40px 0 0 0;
  color: #333;
  font: normal 16px 'Open Sans', sans-serif;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.weather__heading,
.weather__city-name,
.weather__city-temp {
  text-align: center;
}
.weather__heading {
  margin: 0 0 40px 0;
}
.weather__wrap {
  text-align: center;
}
.weather__city-name {
  margin-bottom: 10px;
  font-size: 36px;
}
.weather__city-name,
.weather__city-temp {
  margin: 0;
  color: #fff;
  text-shadow: 0px 0px 8px #000;
}
.weather__city-temp {
  font-size: 48px;
}
.weather__city {
  display: flex;
  display: inline-block;
  vertical-align: top;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 15px 40px;
  width: 300px;
  min-height: 300px;
  cursor: pointer;
}
.weather__city:hover .weather__city-photo {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
}
.weather__city-link {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather__city-photo,
.weather__current-city-photo {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: -webkit-filter 0.2s linear;
  z-index: -10;
}
.weather__current-city-day-weather {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 40px;
}
.weather__current-city-photo {
  -webkit-filter: brightness(0.4);
  -moz-filter: brightness(0.4);
  filter: brightness(0.4);
}
.weather__current-city {
  position: relative;
  min-height: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.weather__current-city-name,
.weather__current-city-temp {
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 48px;
}
.weather__current-city-temp:first-child {
  text-shadow: 0px 0px 8px #000;
}
.weather__current-city-name {
  margin: 0 0 40px 0;
}
.weather__current-city-wrap {
  position: relative;
  padding: 20px 0 0 0;
}
