@require "normalize";

[ng-cloak]
.ng-cloak
  display none !important

*
  box-sizing border-box

body
  padding 40px 0 0 0
  color #333
  font normal 16px 'Open Sans', sans-serif

ul
  padding 0
  margin 0

a
  text-decoration none

.weather__heading
.weather__city-name
.weather__city-temp
  text-align center

.weather__heading
  margin 0 0 40px 0

.weather__wrap
  text-align center

.weather__city-name
  margin-bottom 10px
  font-size 36px

.weather__city-name
.weather__city-temp
  margin 0
  color #fff
  text-shadow 0px 0px 8px #000

.weather__city-temp
  font-size 48px

.weather__city
  display flex
  display inline-block
  vertical-align top
  justify-content center
  align-items center
  position relative
  margin 0 15px 40px
  width 300px
  min-height 300px
  cursor pointer
  &:hover .weather__city-photo
    -webkit-filter grayscale(0)
    -moz-filter grayscale(0)
    filter grayscale(0)

.weather__city-link
  width 300px
  height 300px
  display flex
  justify-content center
  align-items center

.weather__city-photo
.weather__current-city-photo
  position absolute
  top 0
  left 0
  border none
  width 100%
  height 100%
  object-fit cover
  -webkit-filter grayscale(100%)
  -moz-filter grayscale(100%)
  filter grayscale(100%)
  transition -webkit-filter .2s linear
  z-index -10

.weather__current-city-day-weather
  display inline-block
  vertical-align top
  margin 0 15px 40px

.weather__current-city-photo
  -webkit-filter brightness(0.4)
  -moz-filter brightness(0.4)
  filter brightness(0.4)

.weather__current-city
  position relative
  min-height 500px
  display flex
  flex-flow row wrap
  justify-content space-around
  align-items center
  text-align center

.weather__current-city-name
.weather__current-city-temp
  margin 0
  text-align center
  color #fff
  font-size 48px

.weather__current-city-temp
  &:first-child
    text-shadow 0px 0px 8px #000

.weather__current-city-name
  margin 0 0 40px 0

.weather__current-city-wrap
  position relative
  padding 20px 0 0 0